<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yr.pet.adoption.mapper.AdoptionApplicationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yr.pet.adoption.model.entity.AdoptionApplicationEntity">
        <id column="id" property="id" />
        <result column="pet_id" property="petId" />
        <result column="user_id" property="userId" />
        <result column="questionnaire_json" property="questionnaireJson" />
        <result column="status" property="status" />
        <result column="reject_reason" property="rejectReason" />
        <result column="org_remark" property="orgRemark" />
        <result column="decided_time" property="decidedTime" />
        <result column="deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pet_id, user_id, questionnaire_json, status, reject_reason, org_remark, decided_time, deleted, create_time, update_time
    </sql>

</mapper>
