<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yr.pet.adoption.mapper.PetMediaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yr.pet.adoption.model.entity.PetMediaEntity">
        <id column="id" property="id" />
        <result column="pet_id" property="petId" />
        <result column="url" property="url" />
        <result column="media_type" property="mediaType" />
        <result column="sort" property="sort" />
        <result column="deleted" property="deleted" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pet_id, url, media_type, sort, deleted, create_time
    </sql>

</mapper>
